@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  /* Replace 'path/to/your/image' with the actual path to your image file */
  background-image: url('src/assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover; /* This will make sure the image covers the whole area */
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header-wrapper {
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#statue {
  height: 330px;
  width: 400px;
}

#flag {
  height: 130px;
  width: 400px;
}

.header {
  width: 550px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

/* User input */
.cards-wrapper {
  padding: 20px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  border: 2px solid black;
  padding: 10px;
  height: 300px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 4px 4px 0px black;
  margin-bottom: 4px;
}



#card-img {
  height: 150px;
  width: 200px;
  border: 2px solid black;
}

.easy {
  background-color: rgba(17, 249, 32, 0.4);
}

.medium {
  background-color: rgba(255, 154, 0, 0.4);
}

.hard {
  background-color: rgba(246, 16, 39, 0.4);
}
.button-container {
  margin: 2px 30px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-button {
  height: 70px;
  width: 90px;
  border: 2px solid black;
  padding: 12px 20px;
  font-size: 16pt;
  background-color: black;
  color: white;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.1s;
  transition-property: all;
  transition-timing-function: linear;
}

.card-button:hover {
  color: #000;
  background: rgb(255, 218, 87);
}

.user-input-wrapper {
  display: flex;
  justify-content: center;
  padding: 0px 10px 10px 10px;
}

.ans-input {
  border: none;
  padding: 5px 10px;
  background-color: black;
  color: white;
}

.submit-btn {
  border: none;
  padding: 5px 10px;
  background-color: rgb(255, 218, 87);
}

.incorrect {
  border: 3px solid red;
}

.correct {
  border: 3px solid green;
}
